* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: 100vw;
    height: 100vh;
}

.page-layout {
    display: flex;
    /* justify-content: flex-end; */
    /* position: relative; */
}

.cart-hover {
    position: fixed;
    height: 100%;
    right: 0;
}
