* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-layout {
    display: flex;
    justify-content: flex-end;
    /* position: relative; */
}

.cart-hover {
    position: absolute;
    right: 0;
}