.ShoppingCartItem {
    display: flex;
    padding: 5px 0;
    justify-content: space-around;
    background-color: #FFF;
    width: 250px;
    height: 78px;
}

.shopping-cart-item-icon {
    padding: 4px;
    height: 62px;
    width: 60px;
}
.cart-item-description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.quantity-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-grow: 1; */
    /* background-color: red; */
}

.quantity-container > .quantity{
    font-size: .75rem;
}

.quantity-btns > * {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
}